@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

::ng-deep {
  .ng-select .ng-select-container {
    background-color: #f7f9fc;
    border-color: #e4e9f2;
    color: #222b45;

    .ng-value-container {
      font-size: 0.9375rem !important;
      font-weight: 600 !important;
      line-height: 1.5rem !important;
      padding: 0.4375rem 1rem !important;
    }

    .ng-input>input, .ng-value {
      font-size: 0.9375rem;
      font-weight: 600;
      margin-bottom: 0px !important;
    }

    .ng-input {
      padding: 0px !important;
    }
  }

  .ng-select-container:hover {
    background-color: #edf1f7;
    border-color: #e4e9f2;
  }
}
