.ng-select .ng-select-container .ng-value-container .ng-input>input {
    border-radius: 0.25rem !important;
    font-size: 0.9375rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    padding: 0.4375rem 1rem !important;
    background-color: #f7f9fc !important;
    border-color: #e4e9f2 !important;
    color: #222b45 !important;
    width: 100% !important;
}

.center {
    margin: auto;
}