
.high {
    color: red;
  }
  
  .medium {
    color: yellow;
  }
  
  .low {
    color: blue;
  }

  .select-input {
     margin-top: 1.8rem;
     nb-card-header {
         color: #8f9bb3;
         font-weight: 700;
     }
  }