<form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">
  <div class="col-sm-8 center">
    <nb-card>
      <nb-card-header>Create New Task</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="taskTitle" class="label">Title</label>
              <input type="text" nbInput fullWidth id="taskTitle" placeholder="Task Title" formControlName="taskTitle">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="taskDescription" class="label">Description</label>
              <textarea rows="2" nbInput fullWidth id="taskDescription" placeholder="Task Description" formControlName="taskDescription"></textarea>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="assignee" class="label">Assignee</label>
              <ng-select formControlName="assignee"
                [items]="assignees"
                bindLabel="name"
                bindValue="name"
                appendTo="body"
                multiple="true"
                placeholder="Choose Assignee(s)"
                [(ngModel)]="selectedAssignees">
              </ng-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group select-input">
              <nb-card-header>Priority</nb-card-header>
              <nb-select selected="Low" formControlName="taskPriority">
                <nb-option value="Low">Low</nb-option>
                <nb-option value="Medium">Medium</nb-option>
                <nb-option value="High">High</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-3">
            <label for="taskDueDate" class="label">Due Date</label>
            <input nbInput placeholder="Due Date" id="taskDueDate" [nbDatepicker]="formpicker" formControlName="taskDueDate">
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="project" class="label">Project</label>
              <ng-select formControlName="project"
                [items]="projects"
                bindLabel="name"
                bindValue="name"
                appendTo="body"
                placeholder="Choose Project"
                [(ngModel)]="selectedProject">
              </ng-select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group select-input">
              <nb-card-header>Status</nb-card-header>
              <nb-select selected="Open" formControlName="taskStatus">
                <nb-option value="Open">Open</nb-option>
                <nb-option value="In-Progress">In-Progress</nb-option>
                <nb-option value="Completed">Completed</nb-option>
                <nb-option value="On-Hold">On-Hold</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="techStack" class="label">Tech Stack</label>
              <ng-select formControlName="techStack"
                [items]="techStacks"
                bindLabel="name"
                bindValue="name"
                appendTo="body"
                multiple="true"
                placeholder="Choose Tech Stack(s)"
                [(ngModel)]="selectedTechStacks">
              </ng-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="taskReference" class="label">Reference</label>
              <input type="text" nbInput fullWidth id="taskReference" placeholder="Paste the refernce URL here" formControlName="taskReference">
            </div>
          </div>
        </div>
  
        <button type="submit" nbButton>Create</button>
      </nb-card-body>
    </nb-card>
  </div>  
</form>
